<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WithOutSmoke.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <WithOutSmoke.Properties.Settings>
            <setting name="DateTimeQuit" serializeAs="String">
                <value />
            </setting>
            <setting name="TimeToSleep" serializeAs="String">
                <value />
            </setting>
            <setting name="TimeToWake" serializeAs="String">
                <value />
            </setting>
            <setting name="ForDay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InPack" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TimeToCig" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Resin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Nicotine" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StartPrice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HowOld" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Currency" serializeAs="String">
                <value />
            </setting>
            <setting name="StartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckUpdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CarbonMonoxide" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Breath" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InAshtray" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EndPrice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Puffs" serializeAs="String">
                <value>0</value>
            </setting>
        </WithOutSmoke.Properties.Settings>
    </userSettings>
</configuration>